

#schema_tables table th:nth-child(1),
#schema_tables table td:nth-child(1) {
  border-right: none;
}

#schema_tables table th:nth-child(2),
#schema_tables table td:nth-child(2) {
  border-left: none;
  white-space: nowrap;
}

#schema_tables table td:nth-child(2) a {
  text-decoration: none;
}


#schema_tables table td:nth-child(1) {
  padding-right: 0;
}

#schema_tables table td:nth-child(2) a {
  font-size: 0.75em;
  font-style: italic;
  text-decoration: none;
  opacity: 0.75;
}

#schema_tables table td:nth-child(2) a:hover {
  opacity: 1;
}

#schema_tables table td:nth-child(3):empty::before {
  display: block;
  content: "⋯";
  color: #ccc;
  text-align: center;
}