
#schemas ~ table td:first-child {
  white-space: nowrap;
}

#schemas ~ table td:first-child a + a {
  font-size: 0.8em;
  font-style: italic;
  text-decoration: none;
  opacity: 0.75;
}

#schemas ~ table td:first-child a + a:hover {
  opacity: 1;
}


#schemas ~ table td:first-child a + a::before {
  content: " - ";
}

#schemas ~ table td:nth-child(2):empty::before {
  display: block;
  content: "⋯";
  color: #ccc;
  text-align: center;
}

#schemas ~ h2 ~ table td:first-child {
  white-space: unset;
}

#schemas ~ h2 ~ table td:first-child a + a {
  font-size: unset;
  font-style: unset;
  text-decoration: unset;
  opacity: unset;
}

#schemas ~ h2 ~ table td:first-child a + a:hover {
  opacity: unset;
}

#schemas ~ h2 ~ table td:first-child a + a::before {
  content: unset;
}

#schemas ~ h2 ~ table td:nth-child(2):empty::before {
  display: unset;
  content: unset;
  color: unset;
  text-align: unset;
}